apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production

bases:
  - ../../bases/backend

resources:
  - namespace.yaml
  - mongo-conn-sealed.yaml

transformers:
  - labels.yaml

patchesStrategicMerge:
  - gateway-patch.yaml
  - virtualservice-patch.yaml

images:
  - name: alexlauni/liftright-data-server
    newName: alexlauni/liftright-data-server
    newTag: 59e230b
