apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
- ../../bases/backend
- namespace.yaml
- mongo-conn-sealed.yaml
transformers:
- labels.yaml
patchesStrategicMerge:
- gateway-patch.yaml
- virtualservice-patch.yaml
images:
- name: alexlauni/liftright-data-server
  newName: alexlauni/liftright-data-server
  newTag: bd30911
